@charset "UTF-8";

html {
  font-size: 100%;
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  background-color: #fff;
  color: #4C4948;
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover {
  opacity: 0.7;
}

li {
  list-style: none;
}

.header-wrap {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 8px 8px rgb(0 0 0 / 20%);
  z-index: 1;
}

.header-wrap__logo {
  width: 33%;
  padding-left: 2%;
  aspect-ratio: 6 / 1;
}

.header-wrap__logo a {
  transition: all 0.3s;
}

.header-wrap__logo a:hover {
  opacity: 0.7;
}

.header-wrap__logo a img {
  display: block;
  width: 100%;
  height: 100%;
}

.header-wrap__nav {
  padding-right: 2.5%;
}

.header-wrap__nav__list__item a {
  color: #fff;
}

.header-wrap__nav__list__item {
  background-color: #18A38F;
  align-items: center;
  width: 100%;
  padding: 0.8vw;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.header-wrap__nav__list__item p {
  color: #FFF100;
  text-align: center;
  font-weight: 500;
  line-height: 1;
  padding-top: 0.5vw;
}

.header-wrap__nav__list__item a i {
  font-size: clamp(0.8rem, 1.068rem + 0.91vw, 1.3rem);
  margin-right: 2%;
}

.header-wrap__nav__list__item span {
  font-size: clamp(1.8rem, 1rem + 1vw, 1.6rem);
}

.top-wrap {
  width: 100%;
  padding-top: 8%;
  margin-bottom: 2%;
}

.top-wrap img {
  width: 100%;
  height: 100%;
}

.top-wrap__sp {
  display: none;
}

.appr-wrap__ttl {
  text-align: center;
  letter-spacing: 0.1rem;
}

.appr-wrap__ttl span {
  font-size: clamp(2rem, 0.5rem + 0.5vw, 1.2rem);
  letter-spacing: 0.2rem;
  color: #EC6D81;
}

.__inner {
  max-width: 700px;
  margin: 0 auto;
}

.__cta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 2%;
}

.__cta-btn__left {
  background: #18A38F;
    padding: 1.2em;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    line-height: 1.5;
    width: 41%;
    height: 4em;
}

.__cta-btn__left span {
  font-size: clamp(1.8rem, 1rem + 1vw, 1.8rem);
}

.__cta-btn__left a i {
  font-size: clamp(1.4rem, 1rem + 1vw, 1.2rem);
  margin-right: 2%;
}

.button {
  color: #fff;
}

.__cta-btn__right {
  background: #EC6D81;
  padding: 1.2em;
  text-decoration: none;
  font-size: 1.1em;
  text-align: center;
  line-height: 1.5;
  width: 41%;
  height: 4em;
}

.__cta-btn__right span {
  font-size: clamp(1.6rem, 1rem + 1vw, 1.5rem);
}

.expe {
  background-color: #D6F2EE;
  margin-top: 4%;
  width: 100%;
}

.expe-wrap__con1 {
  padding-top: 6%;
  position: relative;
}

.expe-wrap__con1__ttl {
    background-color: #18A38F;
    padding: 0.8% 3.5%;
    margin-bottom: 2.5%;
    border-radius: 35px
}

.expe-wrap__con1__ttl h2 {
  text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: clamp(1.25rem, 1.068rem + 0.91vw, 1.4rem);
}

.expe-wrap__con2 {
  display: flex;
}

.expe-wrap__right img {
  margin-top: -20%;
  margin-left: 20%;
  aspect-ratio: 1 / 1.5;
  width: 98%;
}

.expe-wrap__right img img {
  display: block;
  width: 100%;
  height: 100%;
}

.expe-wrap__con2__list__item {
  display: flex;
  align-items: center;
  padding: 1.4% 0;
}

.expe-wrap__con2__list__item small {
  border: solid 1.5px #4C4948;
  color: #4C4948;
  width: 1.3rem;
  height: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.1rem, 0.795rem + 0.27vw, 1.2rem);
  margin-right: 2%;
}

.expe-wrap__con2__list {
  width: 110% !important;
}

.recom-wrap {
  margin-top: 4%;
}

.recom-wrap__con1 {
  background-color: #FCE8AF;
  border-radius: 30px
}

.recom-wrap__con1__bg {
  position: relative;
  background-image: url("../img/stripe.png");
  background-position: 50%;
  background-size: cover;
}

.recom-wrap__con1__ttl h3 {
display: inline-block;
  position: relative;
  background-color: #fff;
  padding: 0.7% 5%;
  color: #4C4948;
  font-weight: bold;
  margin-top: 6%;
}

.recom-wrap__con1__ttl h3::after {
  position: absolute;
  content: "";
  border-top: 0.9rem solid #fff;
  border-left: 0.9rem solid transparent;
  border-right: 1.25rem solid transparent;
  transform: translateY(-65%) translateX(-240%);
  bottom: -1.3rem;
}

.recom-wrap__con1__ttl {
  text-align: center;
}

.recom-wrap__con1__ttl h4 {
  font-size: clamp(1.5rem, 0.795rem + 0.27vw, 1.8rem);
  font-weight: 520;
  margin-top: 1%;
}

.recom-wrap__con1__ttl h4 span {
  color: #EC6D81;
  font-size: clamp(2.2rem, 0.795rem + 0.27vw, 1.8rem);
  border-bottom: dotted 2px #EC6D81;
}

.recom-wrap__con2__ttl {
  text-align: center;
}

.recom-wrap__con2__ttl h1 {
  font-size: clamp(1.8rem, 0.795rem + 0.27vw, 1.8rem);
  padding-bottom: 5%;
  letter-spacing: 0.5rem;
  font-weight: 600;
}

.recom-wrap__con2__ttl h1 span {
  color: #EC6D81;
  font-size: clamp(4rem, 0.795rem + 0.27vw, 1.8rem);
  line-height: 1.6;
  background: linear-gradient(transparent 70%, #fff 70%);
  font-weight: 500;
}

.__triangle {
  position: relative;
  margin-top: 0 !important;
  padding-top: 7%;
}

.__triangle-one {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 3rem 3rem 0 3rem;
  border-color: #C5AC75 transparent transparent transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.nice-wrap__ttl {
  background-color: #18A38F;
  text-align: center;
  padding: 4%;
  font-size: clamp(1.9rem, 0.795rem + 0.27vw, 1.8rem); 
}

.nice-wrap__ttl h4 {
  color: #fff;
  line-height: 1.6;
  font-weight: 500;
}

.nice-wrap__ttl h4 small {
  font-size: clamp(1.2rem, 0.795rem + 0.27vw, 1.8rem);
}

.nice-wrap2 {
  background-color: #D6F2EE;
}

.container {
  flex-direction: column-reverse;
}

.nice-wrap2__con {
  justify-content: space-between;
  padding: 7% 6%;
  align-items: center;
  display: flex;
}

.nice-wrap2__con__block__img {
  width: 93%;
  aspect-ratio: 15 / 17;
  margin: 0 auto;
}

.nice-wrap2__con__block__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nice-wrap2__con__block__txt {
  background: #C5AC75;
  width: 93%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  padding: 2.5% 0;
  line-height: 1.6;
}

.prof-wrap__ttl {
  background-color: #18A38F;
  text-align: center;
  padding: 4%;
  font-size: clamp(1.9rem, 0.795rem + 0.27vw, 1.8rem);
  margin-top: 6%;
}

.prof-wrap__ttl h4 {
  color: #fff;
  line-height: 1.6;
  font-weight: 500;
}

.prof-wrap__ttl h4 small {
  font-size: clamp(1.2rem, 0.795rem + 0.27vw, 1.8rem);
}

.prof-wrap2 {
  background-color: #D6F2EE;
}

.prof-wrap2__con {
  padding: 7%;
    display: flex;
    align-items: center;
}


.prof-wrap2__con__left__img {
    aspect-ratio: 15 / 17;
    padding-right: 8%;
    width: 200%;
}

.prof-wrap2__con__left__img img {
  display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.anxi-wrap__con {
  background-color: #D6F2EE;
  margin: 0 auto;
  border-radius: 30px
}

.anxi-wrap {
  margin-top: 6%;
}

.anxi-wrap__con {
  padding-top: 6%;
}

.anxi-wrap__ttl h4 {
  text-align: center;
  font-size: clamp(1.5rem, 0.795rem + 0.27vw, 1.8rem);
  line-height: 1.5;
  letter-spacing: 0.3rem;
  z-index: 1;
}

.anxi-wrap__con__right {
  aspect-ratio: 1.3 / 1.3;
  width: 25%;
  margin-top: -23%;
  margin-left: auto;
  z-index: 0;
  }
  

.anxi-wrap__con__right img {
  display: block;
  width: 100%;
  height: 100%;
}

.anxi-wrap__con__ttl span {
  font-size: clamp(2.9rem, 0.795rem + 0.27vw, 1.8rem);
  color: #EC6D81;
}

.anxi-wrap2__con {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}

.anxi-wrap2__con__circle {
  width: 9em;
    height: 9em;
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      
}

.anxi-wrap2__con__circle:nth-of-type(1) {
  margin-bottom: 6%;
}

.anxi-wrap2__con__circle::before {
  content: "";
    width: 8.3em;
    height: 8.3em;
    position: absolute;
    border: solid #D6F2EE 0.3rem;
    border-radius: 50%;
    box-sizing: border-box;
}

.anxi-wrap2__con__circle p {
  text-align: center;
}

.anxi-wrap2__box {
  padding-bottom: 6%;
}

.peace-wrap__border {
    border-top: 0.2rem solid #18A38F;
    border-bottom: 0.2rem solid #18A38F;
    padding: 0.7%;
    margin-top: 5%;
    text-align: center;
}

.peace-wrap__border h2 {
font-size: clamp(2rem, 0.795rem + 0.27vw, 1.8rem);
color: #18A38F;
letter-spacing: 0.3rem;
}

.doubt-wrap__con {
  display: flex;
  margin-left: 2%;
}

.doubt-wrap__con__right {
  aspect-ratio: 1.7 / 1.9;
  margin-top: -3%;
  margin-right: -3%;
  margin-bottom: 4%;
}

.doubt-wrap__con__right img {
  display: block;
  width: 100%;
  height: 100%;
}

.doubt-wrap__con__left h2 {
  color: #EC6D81;
  background: linear-gradient(transparent 60%, yellow 30%);
  display: inline-block;
  letter-spacing: 1px;
}

.doubt-wrap__con__left h2 span {
  font-size: clamp(2rem, 0.795rem + 0.27vw, 1.8rem);
}

.doubt-wrap__con__left p {
  margin-top: 3%;
}

.Resolved {
  background-color: #F4EDDE;
  padding-top: 2%;
  padding-bottom: 3%;
}

.kinds-wrap__con {
  background-color: #D6F2EE;
  margin: 0 auto;
  margin-top: 4%;
  padding-bottom: 2%;
}

.kinds-wrap__ttl {
  background-color: #18A38F;
  padding: 4%;
}

.kinds-wrap__ttl h2 {
  font-size: clamp(1.9rem, 0.795rem + 0.27vw, 1.8rem);
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.kinds-wrap__con__ttl {
  text-align: center;
  font-size: clamp(1.5rem, 0.795rem + 0.27vw, 1.8rem);
}

.kinds-wrap__con__ttl h3 {
  font-weight: 500;
}

.kinds-wrap__con__ttl h3 span {
  color: #EC6D81;
    display: inline-block;
    letter-spacing: 0.3rem;
    font-size: clamp(2rem, 0.795rem + 0.27vw, 1.8rem);
    padding-top: 2%;
}

.kinds-wrap__con__box {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 3% 15%;
}

.kinds-wrap__con__box__circle {
  width: 8.5em;
  height: 8.5em;
  position: relative;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.kinds-wrap__con__box__circle p {
  text-align: center;
  line-height: 1.4;
  color: #EC6D81;
  font-weight: 500;
}

.kinds-wrap__con__box__circle p span {
      font-size: clamp(0.5rem, 0.795rem + 0.27vw, 0.8rem);
}

.kinds-wrap__con__box__body {
  text-align: center;
  padding-top: 1%;
}

.kinds-wrap__con__box2__ttl {
  background-color: #C5AC75;
  width: 71.5%;
  margin: 0 auto;
  text-align: center;
  padding: 2% 0;
  margin-top: 3%;
  color: #fff;
  font-size: clamp(1.3rem, 0.795rem + 0.27vw, 2.2rem);
}

.kinds-wrap__con__box2__ttl h3 {
  font-weight: 500;
}

.kinds-wrap__con__box3__left {
  padding: 5%;
  width: 55%;
}

.kinds-wrap__con__box3__left h4 {
  color: #18A38F;
}

.kinds-wrap__con__box3__left p {
  margin-top: 3%;
}

.kinds-wrap__con__box3__right {
  width: 55%;
  aspect-ratio: 3 / 1;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}

.kinds-wrap__con__box3__right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kinds-wrap__con__box3 {
  padding-bottom: 2%;
}

.kinds-wrap__con__box3__bg {
  background-color: #fff;
  width: 71.5%;
  margin: 0 auto;
  display: flex;
}

.kinds-wrap__con__box2__left {
  padding: 5%;
  width: 60%;
}

.kinds-wrap__con__box2__left h4 {
  color: #18A38F;
}

.kinds-wrap__con__box2__left p {
  margin-top: 3%;
}

.kinds-wrap__con__box2__right {
  width: 55%;
  aspect-ratio: 3 / 1;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}

.kinds-wrap__con__box2__right img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kinds-wrap__con__box2 {
  padding-bottom: 3%;
}

.flow-wrap__ttl {
  background-color: #18A38F;
  padding: 4%;
  margin-top: 6%;
}

.flow-wrap__ttl h2 {
  font-size: clamp(1.9rem, 0.795rem + 0.27vw, 1.8rem);
  color: #fff;
  font-weight: 500;
  text-align: center;
}

.flow-wrap__block {
  margin-top: 5%;
}

.flow-wrap__body__block:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.flow-wrap__body__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5%;
}

.flow-wrap__body__block__txt {
  width: 55%;
  letter-spacing: 0.1rem;
}

.flow-wrap__body__block__img {
  width: 42%;
  aspect-ratio: 7 / 5.5;
}

.flow-wrap__body__block__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.flow-wrap__body__block__txt span {
  font-size: clamp(3rem, 0.795rem + 0.27vw, 3rem);
  font-family: Arial, Helvetica, sans-serif;
  color: #C5AC75;
}

.flow-wrap__body__block__txt h3 {
  color: #18A38F;
  margin-top: -4%;
  font-size: clamp(1.2rem, 0.795rem + 0.27vw, 1.2rem);
}

.flow-wrap__body__block:nth-of-type(7) {
  margin-bottom: 10%;
}

.doctor-wrap__box {
  background-color: #F4EDDE;
  margin: 0 auto;
  position: relative;
}

.doctor-wrap__box__subttl p {
  position: relative;
  background-color: #C5AC75;
  padding: 1.2% 4%;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  margin-top: -5%;
}

.doctor-wrap__box__subttl p::after {
  position: absolute;
  content: "";
  border-top: 18px solid #C5AC75;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  transform: translateY(-65%) translateX(-240%);
  bottom: -23px;
}

.doctor-wrap__box__ttl h2 {
  color: #18A38F;
  font-size: clamp(1.9rem, 0.795rem + 0.27vw, 1.8rem);
  font-weight: 500;
  padding-top: 1%;
  text-align: center;
  letter-spacing: 2.5px;
}

.doctor-wrap__con__img {
  width: 90%;
  aspect-ratio: 7 / 4.4;
  margin: 0 auto;
}

.doctor-wrap__con__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.doctor-wrap__con {
  padding-bottom: 5%;
  padding-top: 1%;
}

.doctor-wrap__box {
  text-align: center;
}

.faq {
  background-color: #D6F2EE;
  margin-top: 4%;
}

.faq-wrap__con__img {
  aspect-ratio: 1.6 / 1.9;
  width: 21%;
  margin: -15% 0 0 auto;
}

.faq-wrap__con__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.faq-wrap__con__ttl {
  color: #18A38F;
  font-size: clamp(1.9rem, 0.795rem + 0.27vw, 1.8rem);
  font-weight: 500;
  padding-top: 1%;
  letter-spacing: 2.5px;
  padding-top: 10%;
  border-bottom: dotted 2px #18A38F;
  display: inline-block;
}

.faq-wrap__con {
  text-align: center;
}

.faq-wrap__body {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5%;
  margin-top: -4%;
  
}

.faq-wrap__body__box {
  margin: 0 auto;
  width: 100%;
}

.faq-wrap__body__list__item {
  position: relative;
    margin: 3.5% 0;
    background-color: #fff;
    border: solid 1.5px #18A38F;
    padding: 1.75% 3.5%;
    list-style: none;
}

.faq-wrap__body__list__item__tog {
  display: none;
}

.faq-wrap__body__list__item__tog:checked+.faq-wrap__body__list__item__ttl+.faq-wrap__body__list__item__con {
  max-height: 500px;
  transition: all 1.5s;
}

.faq-wrap__body__list__item__tog:checked+.faq-wrap__body__list__item__ttl::before {
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.faq-wrap__body__list__item__ttl,
.faq-wrap__body__list__item__con {
  transform: translate(0);
  transition: all 0.3s;
}

.faq-wrap__body__list__item__ttl {
  display: block;
  font-weight: 400;
  font-size: clamp(0.85rem, 0.795rem + 0.27vw, 1rem);
}

.faq-wrap__body__list__item__ttl span {
  font-weight: 400;
  font-size: clamp(1.15rem, 1.023rem + 0.64vw, 1.5rem);
}

.faq-wrap__body__list__item__ttl::after,
.faq-wrap__body__list__item__ttl::before {
  content: "";
  position: absolute;
  right: 1.75%;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 0.1rem;
  height: 1rem;
  background-color: #18A38F;
  transition: all 0.3s;
}

.faq-wrap__body__list__item__ttl::after {
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.faq-wrap__body__list__item__con {
  max-height: 0;
  overflow: hidden;
}

.faq-wrap__body__list__item__con span {
  font-weight: 400;
  font-size: clamp(1.15rem, 1.023rem + 0.64vw, 1.5rem);
}

.faq-wrap__body__list__item__con p {
  font-weight: 400;
  border-top: solid 1rem #18A38F;
  margin-top: 1%;
  padding-top: 1%;
  font-size: clamp(0.85rem, 0.795rem + 0.27vw, 1rem);
}

.Resolved2 {
  background-color: #F4EDDE;
  padding-top: 2%;
  padding-bottom: 3%;
  margin-top: 0.5%;
}

.footer-wrap {
  background-color: #18A38F;
  padding: 1.5% 0;
}

.footer-wrap p {
  text-align: center;
  color: #fff;
  font-size: clamp(0.9rem, 0.795rem + 0.27vw, 0.9rem);
}

@media screen and (min-width: 1024px) {
  .__pc {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

    .top-wrap {
      padding-top: 6.5%;
    }

}

@media screen and (max-width: 1024px) {
  .__pc {
    display: inline-block;
  }

  .__sp {
    display: none;
  }

    .top-wrap {
      padding-top: 11.3%;
    }

  .header-wrap__nav__list__item {
    margin-left: -2%;
  }

    .__inner {
      width: 85%;
    }

    .doubt-wrap__con__left {
      width: 118%;
    }

    .doubt-wrap__con__right {
    margin-top: -2%;
    width: 65%;
    height: 60%;
    margin-right: -4%;
    }

  .__triangle {
    padding-top: 13%;
    }
}

@media screen and (max-width: 768px) {

  .__pc {
      display: none;
    }
  
    .__sp {
      display: none;
    }
  
    .__inner {
      width: 85%;
    }
  
    .html {
      font-size: 80%;
    }

  .hidden-sp {
  display: none;
  }

    .header-wrap__logo {
      width: 45%;
    }

    .top-wrap {
      padding-top: 14%;
    }

    .__cta-btn__left {
    font-size: 0.7em;
    width: 42%;
        }

  .__cta-btn__left span {
  font-size: clamp(1.1rem, 1rem + 1vw, 1.2rem);
  }

  .__cta-btn__left a i {
      font-size: clamp(0.7rem, 1rem + 1vw, 1rem);
    }

  .__cta-btn__right {
  font-size: 0.7em;
  width: 42%;
  }
        
  .__cta-btn__right span {
  font-size: clamp(1.1rem, 1rem + 1vw, 1rem);
  }

  .recom-wrap__con1__ttl h4 span {
    font-size: clamp(1.7rem, 0.795rem + 0.27vw, 1.3rem);
  }

    .recom-wrap__con2__ttl h1 span {
      font-size: clamp(2.8rem, 0.795rem + 0.27vw, 1.7rem);
      letter-spacing: 0.3rem;
    }

    .anxi-wrap2__con__circle:nth-of-type(3) {
    margin-bottom: 6%;
      }

  .doubt-wrap__con__right {
  margin-top: 5%;
  margin-right: -7%;
  }
  .doubt-wrap__con__left h2 span {
  font-size: clamp(1.8rem, 0.795rem + 0.27vw, 1.8rem);
}

.kinds-wrap__con__box {
  width: 85%;
  margin-left: -7.5%;
}

.kinds-wrap__con__box__circle p span {
  font-size: clamp(0.3rem, 0.795rem + 0.27vw, 0.6rem);
}

.kinds-wrap__con__box__circle {
  width: 7em;
  height: 7em;
}

.kinds-wrap__con__box2__ttl {
  width: 85%;
}

.kinds-wrap__con__box3__bg {
  width: 85%;
}

.kinds-wrap__con__box__body {
  width: 85%;
  margin: 0 auto;
}

.faq-wrap__con__img {
  display: none;
}

.faq-wrap__con__ttl {
  padding-top: 5%;
  font-size: clamp(1.7em, 0.795rem + 0.27vw, 1.8rem);
}

.faq-wrap__body {
  margin-top: 2%;
  }

.__triangle {
  padding-top: 18%;
}

.nice-wrap2__con__block__txt {
  line-height: 1.4;
  font-size: clamp(0.4rem, 1rem + 1vw, 0.8rem);
}

.doubt-wrap__con__left h2 span {
  font-size: clamp(1.4rem, 0.795rem + 0.27vw, 1.8rem);
}

.doubt-wrap__con {
  margin-top: -2%;
  margin-bottom: 3%;
}
}
  
@media screen and (max-width: 480px) {

  .__inner {
      width: 85%;
    }
  
    .top-wrap__pc {
      display: none;
    }
  
    .top-wrap__sp {
      display: block;
    }
  
    html {
      font-size: 75%;
    }
  
    .__inner {
      width: 85%;
    }

    .header-wrap__nav__list__item {
      width: 100%;
    }
    
    .header-wrap__nav {
      margin-right: 0%;
    }
    
    .top-wrap {
      padding-top: 16%;
    }
    
    .header-wrap__logo {
      width: 40%;
    }

    .__cta {
      display: block;
      margin: 0 auto;
    }
    
    .__cta-btn__left {
      width: 90%;
      margin-bottom: 3%;
    }
    
    .__cta-btn__right {
      width: 90%;
    }

    .expe-wrap__right img {
    width: 50%;
    margin-top: -1%;
    margin-left: 25%;
    }
    
    .recom-wrap {
    margin-top: 6%;
    }
    
    .__triangle-one {
    border-width: 2rem 2rem 0 2rem;
    }
    
    .__triangle {
    padding-top: 15%;
    }

    .expe {
    margin-top: 6%;
    
    }
  
    .expe-wrap__con2 {
    display: block;
    width: 80%;
    margin: 0 auto;
    }
  
  .header-wrap__nav__list__item a i {
  font-size: clamp(0.6rem, 1.068rem + 0.91vw, 1.1rem);
  }
    
  .header-wrap__nav__list__item span {
    font-size: clamp(1.3rem, 1rem + 1vw, 1rem);
    }

.expe-wrap__con2__list__item small {
  width: 1.4rem;
  height: 1.1rem;
  margin-right: 3.5%;
}

.nice-wrap2__con {
  display: block;
}

.prof-wrap2__con {
  display: block;
}

.prof-wrap2__con__left__img {
  width: 90%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
}

.doubt-wrap__con {
  display: block;
  width: 82%;
}

.doubt-wrap__con__right {
  width: 65%;
  margin-top: 3%;
  margin: 0 auto;
  
}

.faq-wrap__con__ttl {
  padding-top: 5%;
}

.faq-wrap__body {
  margin-top: 2%;
}

.kinds-wrap__con__box__circle p span {
  font-size: clamp(0.3rem, 0.795rem + 0.27vw, 0.5rem);
}

.kinds-wrap__con__box__circle p {
  font-size: clamp(0.8rem, 0.795rem + 0.27vw, 0.5rem);
}

.kinds-wrap__con__box__circle {
  width: 6em;
  height: 6em;
}

.kinds-wrap__con__box2__ttl {
  width: 85%;
}

.kinds-wrap__con__box3__bg {
  width: 85%;
  display: block;
}

.kinds-wrap__con__box2__left {
  width: 85%;
  margin: 0 auto;
}

.kinds-wrap__con__box2__right {
  width: 85%;
  aspect-ratio: 3 / 2;
  padding-left: 5%;
  margin: 0 auto;
  margin-top: -5%;
  padding-bottom: 7%;
}

.kinds-wrap__con__box3__left {
  width: 85%;
  margin: 0 auto;
  margin-top: -5%;
  margin-bottom: 2%;
}

.kinds-wrap__con__box3__right {
  width: 85%;
  aspect-ratio: 3 / 2;
  padding-right: 5%;
  margin: 0 auto;
  padding-top: 8%;
}

.Resolved2 {
  padding-bottom: 6%;
}

.kinds-wrap__con {
  margin-top: 6%;
}

.kinds-wrap__con__ttl {
  width: 95%;
  line-height: 1.2;
  padding-bottom: 3%;
}

.kinds-wrap__con__box__body {
  width: 85%;
  margin: 0 auto;
}

.prof-wrap2__con__right__txt {
  padding-left: 5%;
  padding-right: 5%;
}

.recom-wrap__con1__ttl h4 span {
  font-size: clamp(1.5rem, 0.795rem + 0.27vw, 1.5rem);
  letter-spacing: 0.3px;
}

.recom-wrap__con2__ttl h1 span {
  font-size: clamp(2.6rem, 0.795rem + 0.27vw, 1.8rem);
  line-height: 1.4;
  letter-spacing: 0.3px;
}

.recom-wrap__con2__ttl h1 {
  letter-spacing: 0.3px;
}

.kinds-wrap__con__box__circle p {
  line-height: 1.3;
  letter-spacing: 0.2px;
}

.flow-wrap__body__block {
  display: block;
}

.flow-wrap__body__block__txt {
  width: 102%;
}

.flow-wrap__body__block__img {
  width: 100%;
  padding-top: 3%;
}

.doctor-wrap__box__ttl h2 {
  font-size: clamp(1.7rem, 0.795rem + 0.27vw, 1.8rem);
  letter-spacing: 2px;
  width: 85%;
  margin: 0 auto;
  line-height: 1.5;
  margin-top: 3%;
}

.faq-wrap__con__ttl h2 {
  letter-spacing: 1.2px;
  font-size: clamp(1.6rem, 0.795rem + 0.27vw, 1.8rem);
}

.faq-wrap__con__ttl {
  padding-top: 6%;
}

.faq-wrap__con__img {
  display: none;
}

.faq-wrap__body {
  margin-top: 2%;
}

.appr-wrap__ttl {
  width: 85%;
  margin: 0 auto;
  line-height: 1.5;
  padding-bottom: 2%;
}

.footer-wrap p {
  width: 75%;
  margin: 0 auto;
}

.nice-wrap2__con__block:nth-of-type(1) {
  margin-bottom: 6%;
}

.anxi-wrap__ttl h4 {
  font-size: clamp(1.3rem, 0.795rem + 0.27vw, 1.8rem);
}

.anxi-wrap__con__right {
  width: 50%;
  margin-top: 0%;
  margin: 0 auto;
}

.anxi-wrap2__con__circle {
  width: 8.8em;
  height: 8.8em;
}

.anxi-wrap2__con__circle::before {
  width: 8.3em;
  height: 8.3em;
}

.anxi-wrap2__con__circle:nth-of-type(3) {
  margin-bottom: 6%;
}

.anxi-wrap2__con {
  width: 83%;
  padding-top: 3%;
}

.anxi-wrap__con {
  padding-bottom: 3%;
  padding-top: 9%;
}

.peace-wrap__border {
  margin-top: 8%;
}

.anxi-wrap2__con__circle p {
  letter-spacing: 0.05rem;
}


}